beautifulsoup4==4.15.0
Django==5.2.12
django-bootstrap5==26.2
Faker==12.0.1
flake8==7.1.1
flake8-docstrings==1.7.0
mixer==7.2.2
pep8-naming==0.14.1
Pillow==12.3.0
pytest==9.0.3
pytest-django==4.11.1
pytz==2026.2
sentencepiece==0.2.2
torch==2.13.0
transformers==5.14.1
yapf==0.43.0

